body {
	background-color: #b1d1ee;
}

#container {
	width: 370px;
	margin: auto;
}

#button {
	float: right;
}

#top {
	background-image:url('header.jpg');
	width: 330px;
	height: 113px;
	margin-left: 23px;
}

#mez {
	width: 370px;
}

#msgDiv {
	width: 366px;
	min-height: 30px;
	border: solid;
	border-width: 1px;
	margin: 1px;
	padding: 5px;
	background-color: #eef0f1;
	font-family: Verdana, "Arial", sans-serif;
	text-align: justify;
	float: left;
}

#msgDiv img {
	border-style: none;
}

.icon {
	float: right;
}

#messagebox {
	width: 370px;
}

fieldset {
	background-color: #5f99cf;
	float: left;
}

#tid {
	font-size: 8px;
	float: right;
}

#messcount {
	float: right;
	border: solid;
	border-width: 1px;
	background-color: #eef0f1;
	width: 370px;
	margin-right: -9px;
	text-align: right;
	padding-right: 5px;
}